body{
    background-image: url(assets/5mymdoyya0n11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
}


.caixa{
    display: inline-block;
    background-color: rgba(139, 194, 243, 0.5);
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
}

.flex{
    display: flex;
}

.nav{
    justify-content: space-between;
    background-color: rgba(139, 194, 243, 0.877);
    margin: 10px;
}

.img{
    height: 150px;
    width: 150px;
}

.texto{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}


