body{
    align-items: center;
    text-align: center;
}


.caixa{
    display: inline-block;
    background-color: rgb(224, 200, 122);
    padding: 10px;
    border-radius: 20px;
    border-color: black;
    border: 100px;
}

.flex{
    display: flex;
}